.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Client/Mdk3/.idea/workspace.xml
Client/Mdk3/build/intermediates/dex-cache/cache.xml
LICENSE.txt
Client/Mdk3/build/intermediates/gradle_project_sync_data.bin
Client/Mdk3/build/intermediates/gradle_project_sync_data.bin
Client/Mdk3/local.properties
